.home {
    margin-top: 90%;
}

a {
    text-decoration: none;
}

.restaurantTitleFont {
    font-family : Verdana;
}

.restaurantTitleFont a{
    text-decoration : none;
    font-family : Verdana;
    font-size : large;
    color : red;
}