<ion-view title="home">
    <ion-content ng-controller="HomeCtrl">
        <div class="row home" ng-hide="identity.isAuthenticated()">
            <a href="#/login" class="col button button-balanced">
                Login
            </a>
            <a href="#/register" class="col col-offset-10 button button-energized">
                Register
            </a>
            <a href="#/booking" class="col button button-balanced">
                Booking
            </a>
            <a href="#/check" class="col button button-balanced">
                Check
            </a>
        </div>
    </ion-content>
</ion-view>