<ion-view title="Restaurants found near you:">
    <ion-content ng-controller="RestaurantController" ng-init="retrieveRestaurants()">
        <div class="list" can-swipe="listCanSwipe">
            <div class="item item-avatar restaurantDiv">
                <img ng-src="http://cdn.city-discovery.com/picture_100x100/985_thumb_Dinner_Dance_at_the_Lido_1335415245.jpg">
                <h2 class="restaurantTitleFont">
                    <a href="#/restaurants/ec010050-56b7-11e4-955f-bbcfcd62b8c9">Lido</a>
                </h2>
                <span> 116 Avenue des Champs-Elysees, 75008 Paris, France</span>
            </div>

            <div class="item item-avatar restaurantDiv">
                <img src="http://www.jardindessens.com/pages_media/g-8-01.jpg">
                <a href="#/restaurants/40c9f760-5639-11e4-9793-595ba64727f8">
                    <h2 class="restaurantTitleFont">
                        Jardin des Senses
                    </h2>
                    <p> 11 Avenue Saint-Lazare, 34000 Montpellier, France</p>
                </a>
            </div>

            <div class="item item-avatar restaurantDiv">
                <img src="http://www.travelandleisureasia.com/siteimage/scale/100/100/322336.png">
                <h2 class="restaurantTitleFont">
                    <a href="#/restaurants/40c9f760-5639-11e4-9793-595ba64727f8">Issaya Siamese Club</a>
                </h2>
                <p>  4 Chuea Phloeng Rd, Thung Maha Mek, Sathon, Bangkok 10120, Thailand</p>
            </div>

            <div class="item item-avatar restaurantDiv">
                <img src="http://www.travelandleisureasia.com/siteimage/scale/100/100/322336.png">
                <h2 class="restaurantTitleFont">
                    <a href="#/restaurants/40c9f760-5639-11e4-9793-595ba64727f8">Issaya Siamese Club</a>
                </h2>
                <p>  4 Chuea Phloeng Rd, Thung Maha Mek, Sathon, Bangkok 10120, Thailand</p>
            </div>

            <div class="item item-avatar restaurantDiv">
                <img src="http://www.travelandleisureasia.com/siteimage/scale/100/100/322336.png">
                <h2 class="restaurantTitleFont">
                    <a href="#/restaurants/40c9f760-5639-11e4-9793-595ba64727f8">Issaya Siamese Club</a>
                </h2>
                <p>  4 Chuea Phloeng Rd, Thung Maha Mek, Sathon, Bangkok 10120, Thailand</p>
            </div>

        </div>
        <!--<div class=" item item-avatar">
        <img ng-src="{{ imageUrl }}" src="">
        <h2 class="restaurantTitleFont"></h2>
        <a href="#/restaurants/{{ restaurant.Id }}">{{ restaurant.Name }}</a>
        </div>-->
    </ion-content>
</ion-view>