<ion-view title="Restaurant Info">
    <ion-content ng-controller="RestaurantController" ng-init="retrieveSpecificRestaurant()">
       
        <div class="testClass">
            <div class="card ">
                <div class="item item-divider" style="text-align:center;font-weight:bold;">
                    <h2>{{ specificRestaurant.Name }}</h2>
                </div>

                <div class="item item-text-wrap">
                    <img class="full-image" ng-src="http://chervenkovr.telerik-students.org/restaurant2.jpg" src="">
                    <br />
                    <p style="text-align:justify">{{ specificRestaurant.Description }}</p>
                </div>

            </div>

            <div ng-init="retrieveImageTags()" style="text-align:center">
                <button class="button button-small button-calm tag" ng-repeat="tag in tags">{{ tag.label}}</button>
            </div>

            <div class="card" style="padding-left:15px">
                <div class="row">
                    <div class="item item-divider col utility">
                        Humidity
                    </div>
                    <div class="item item-divider col utility">
                        Temperature
                    </div>
                </div>
                <div class="row">
                    <div class="item item-text-wrap col utility" ng-init="retrieveHumidity()">
                        {{ humidity }}%
                    </div>
                    <div class="item item-text-wrap col utility" ng-init="retrieveTemperature()">
                        {{ temperature }}&deg;C
                    </div>
                </div>
            </div>
            <div style="padding-left:25px; border-radius:10px;"  class="row" ng-if="!isCheckedIn">
                <button class="item item-icon-center utility col" ng-controller="CheckCtrl" ng-click="checkIn()">
                    <i class="icon ion-location"></i>
                    Check In
                </button>
            </div>

            <div style="padding-left:25px;border-radius:10px;"  class="row" ng-if="isCheckedIn">
                <button class="item item-icon-center utility col" ng-controller="CheckCtrl">
                    <i class="icon ion-location"></i>
                    Already Checked In
                </button>
            </div>

            <div style="padding-top:5px;padding-left:25px;border-radius:10px;" class="row">
                <button class="item item-icon-center utility col" onclick="location.href = '#/restaurants/ec010050-56b7-11e4-955f-bbcfcd62b8c9/menu'">
                    <i class="icon ion-pizza"></i>
                    Get the menu!
                </button>
            </div>
            
        </div>
    </ion-content>
</ion-view>

