<ion-view title="Restaurant Info">
    <ion-content ng-controller="RestaurantController" ng-init="retrieveSpecificRestaurant()">
        
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="https://bs3.cdn.telerik.com/v1/ISDTe40ezNnnMAmk/eb21c3e0-56b7-11e4-955f-bbcfcd62b8c9" src="">
                <h2>{{ specificRestaurant.Name }}</h2>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="https://bs3.cdn.telerik.com/v1/ISDTe40ezNnnMAmk/eb21c3e0-56b7-11e4-955f-bbcfcd62b8c9" src="">
                <p>{{ specificRestaurant.Description }}</p>
            </div>

            <div class="card">
                <div class="row">
                    <div class="item item-divider col utility">
                        Humidity
                    </div>
                    <div class="item item-divider col utility">
                        Temperature
                    </div>
                </div>
                <div class="row">
                    <div class="item item-text-wrap col utility" ng-init="retrieveHumidity()">
                        {{ humidity }}%
                    </div>
                    <div class="item item-text-wrap col utility" ng-init="retrieveTemperature()">
                        {{ temperature }}&deg;C
                    </div>
                </div>
                
            </div>

            <a href="#" class="item item-icon-left utility">
                <i class="icon ion-location"></i>
                Check In
            </a>
        </div>        
    </ion-content>
</ion-view>